.devider {
    width: 100%;
    height: 15rem;
    /* background-color: rgb(113, 163, 228) !important; */
    background-color: #fff !important;
}

/* .nav__logo.hideLogo .devider {
    min-height: 5rem ;
  } */

@media (max-width: 768px){
    .devider {
        height: 12rem !important;
    }
}