.devider {
    width: 100%;
    min-height: 15rem;
    background-color: #0bf;
}

/* .nav__logo.hideLogo .devider {
    min-height: 5rem ;
  } */

@media (max-width: 768px){
    .devider {
        width: 100%;
        min-height: 14rem;
    }
}