.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $dash-main;
    min-width: 100%;
    height: 5rem;
    border-bottom: $dash-border;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: $dash-transition-015;
    color: $dash-txt;

    &__left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 20rem;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20rem;
    }

    .close-menu {
        display: none;
    }

    .hamburger {
        display: none;
    }
}