.my-5 {
    margin: 5rem 0;
}

section {
    width: 100%;
}

.showcase {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 60rem;
  /* background-image: url(../../img/logos/s.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
  background-position-x: 15rem;  */
}

.reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 60rem;
}

.text__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50rem;
    /* height: 100%; */
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    /* margin-top: 20px; */

}

.logo-img{
    position: absolute;
    top:0;
    left: 0;
    height: 60rem;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.text__content-desc{
    position: relative;
    z-index: 3;
    height: 60rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showcase .text__content-desc p, 
.reverse .text__content-desc p {
  padding: 2rem 0; 
}

.showcase .img,
.reverse .img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48rem;
    /* height: 0rem; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.showcase .img img 
.reverse .img img {
  width: 48rem;
  /* height: 60rem; */
}


@media (max-width: 768px) {
    .showcase .text__content {
        border-top: solid 1px rgba(192, 192, 192, 0.4); 
        width: 100%;
    }

    .logo-img{
        display: none;
    }

    .showcase,
    .reverse {
        height: 68rem;
    }

    .showcase .img,
    .reverse.img {
        width: 100%;
    }

    .showcase .img img,
    .reverse.img img {
        width: 100%;
    }

    .text__content-desc{
        height: 22rem;
    }

    .showcase .text__content-desc h2,
    .reverse .text__content-desc h2 {
        padding-top: 2rem; 
    }
}