.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        height: 100% !important;
        width: 100%;
        z-index: 15;
        padding: 2rem;
        background-color: #fff;
        border-top: 1px solid #daa520;
        border-bottom: 1px solid #daa520;
        transform: translateX(-100%);
        transition: transform 0.2s ease-out;
        font-size: 2rem;

        .mobile-logo {

            img {
                height: 7rem;
            }
        }


        & .mobile-pages {
            border-bottom: 1px dotted #daa520;
            padding-bottom: 1rem;

            & li {
                text-transform: capitalize;
                list-style-type: none;
                /* color: #242424;  */
                cursor: pointer;
                padding-bottom: .5rem;

            }
        }

        // main {
        //     // min-height: 100vh;
        //     overflow-y: scroll;
        //     background-color: aquamarine;

        /* Mobile categories */
        & .mobile__categories {
            list-style-type: none;
            text-transform: capitalize;
            display: block;
            width: 100%;
            position: relative;
            text-transform: uppercase;
            transition: all .2s ease-out;

            & .category__title {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                font-size: 1.8rem;

                .icon-rotate {
                    display: block;
                    transition: all .2s ease-out;
                }
            }

            & .subcategories {
                border-left: 1px solid #daa520;
                width: calc(100% - 2rem);
                transform: translateX(2rem);
                padding-left: 2rem;
                transition: all .2s ease-out;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all .2s ease-out;
                -ms-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;

                max-height: 0;
                overflow: hidden;

                ul {

                    & li {
                        text-transform: capitalize;
                        padding: .5rem 0;
                        font-size: 2rem;
                        cursor: pointer;
                    }
                }
            }
        }

        // }

    }

}

.menuActive {
    transform: translateX(0%);
}

.closeMobileMenu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile__categories.subcategoryActive .icon-rotate {
    transform: rotate(180deg);
}


.mobile__categories.subcategoryActive .subcategories {
    max-height: 30rem;
}