/* .mobile-menu {
    display: none; 
}

@media (max-width: 768px){ */




    


    


    

    

    



    /* .subcategoryActive { */
        /* display: block; */
        /* margin-bottom: 25rem !important; */
        /* transform: translateY(10rem); */
        /* min-height: 20rem; */
        /* opacity: 1; */
    /* } */
    
    /* .mobile-menu .mobile-categories li .mobile-subcategories li:hover {
        color: #daa520;
        cursor: pointer; 
    }
    
    .mobile-menu .mobile-categories span {
        text-decoration: none;
        color: #242424;
        text-transform: uppercase; 
    }
    
    .mobile-menu .mobile-categories span:hover {
        color: #daa520;
        cursor: pointer; 
    } */



/* } */

