.payment__container {
    margin: 3rem 0;

    h1 {
        font-size: 2.2rem;
        font-weight: 400;
    }

    .payment {
        // height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        &__section {
            display: flex;
            flex-direction: column;
            position: relative;

            .user__data {
                display: flex;
                flex-direction: column;
            }

            .button__order {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                // position: absolute;
                // bottom: 0;
            }

            .order__single-product {

                // background-color: rgba(228, 211, 255, 0.185);
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: solid 1px #d8d8d8f8;
                margin: 0 2rem 2rem;

                .order__image {
                    display: flex;
                    align-items: flex-end;

                    img {
                        width: 8rem;
                    }
                }

            }

            .order__price {
                margin: 3rem 0;
                padding: 1rem 0;
                display: flex;
                justify-content: space-between;
                border-top: solid 1px #d8d8d8f8;
            }

            .radion__container {
                display: flex;
                align-items: center;
            }


        }

        input[type=text] {
            height: 3rem;
            margin-bottom: 1rem;
            padding: .5rem;
            letter-spacing: .1rem;
            border: solid 1px #d8d8d8f8;
            width: 100%;
            padding: .5rem;
            font-size: 1.8rem;
            height: 3.5rem;
            font-weight: 400;
        }

        input[type=radio] {
            border: solid 1px #d8d8d8f8;
            width: 1.7rem;
            height: 1.7rem;
            margin-right: 2rem;
        }

        h2 {
            text-transform: none;
            font-size: 2rem;
            margin-bottom: 1.5rem;
            text-decoration: underline;
        }

        .payment-border {
            border: solid 1px #d8d8d8f8;
            border-radius: 4px;
        }
    }

}