.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54rem;
    position: relative; 
}

.login-container .login-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 6;
    left: calc(50%-17rem);
    width: 32rem;
    height: 44rem;
    background-color: #f5f5f5;
    box-shadow: var(--shadow);
    padding: 5rem 2rem 2rem 2rem; 
}

.login-container .signup {
    height: 50rem;
}

.login-container .login-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: rem; 
}

.login-container .login-card-header h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: lighter;
    padding: 0rem; 
}

input::placeholder {
    color: #979797;
    font-weight: 100;
  }

.login-container .login-card form {
    width: 100%;
    height: 26rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem; 
}

/* .login-container .login-card form button {
    min-width: 100%;
} */

.login-container .login-card form .form-imputs {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; 
}

.login-container .login-card form .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 2rem; 
    position: relative;
}

.login-container .login-card form .check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.login-container .login-card form .inputs p {
    font-size: 1.6rem;
}

.login-container .login-card form .inputs input,
.login-container .login-card form .inputs textarea {
    border: solid 1px #d8d8d8f8;
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    height: 3.2rem; 
}

.login-container .login-card form .inputs input:focus {
    outline: 1px solid var(--color-acent); 
}

.login-container .login-card form .inputs .remember {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1rem;
    border: solid 1px #d8d8d8f8; 
}

.login-container .login-card form .inputs label {
    color: var(--color-acent); 
    line-height: 1.5rem;
}

.inputs .btn {
    width: 50%;
}

.login-container .login-card .switch {
    position: absolute;
    top: 1rem;
    left: 2rem; 
}

.login-container .login-card .switch span {
    color: var(--color-acent); 
    cursor: pointer;
    text-decoration: underline;
}

.loginCard {
    transform: rotateY(0deg);
    transition: var(--transition);
    transition: transform .3s linear;
    opacity: 1;
    z-index: 10; 
}

.signupCard {
    transform: rotateY(90deg);
    /* transition: var(--transition); */
    transition: transform .3s linear;
    opacity: 0;
    z-index: 9; 
}

.loginActive {
    transform: rotateY(90deg);
    opacity: 0;
    z-index: 9;
}

.sigupActive {
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 10;
}

.visible__pass{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    color: #979797;
}

.visible__pass:hover{
    color: var(--color-acent);
}

.pass__reset {
    text-decoration: underline;
    color: var(--color-acent);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .login-container {
        height: 60rem;
    }
}
