.details__window {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100%;
    transform: translateX(100%);
    transition: $dash-transition-03;
    display: flex;


    &-details {
        width: 70%;
        height: 100%;
        background-color: $dash-main;
        border-left: $dash-border;
    }

    &-background {
        width: 30%;
        height: 100%;
        background-color: $dash-modal;
    }

    & .icon-position {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
}

.detailsActive {
    transform: translateX(0%);
}