:root {
    --shadow:  box-shadow: 7px 7px 5px -5px rgba(0, 0, 0, 0.2);
    --transition-transform: transition: transform 0.2s ease-out;
    --color-acent: color: #daa520;
  }

.container {
    width: 85%;
    margin: 0 auto;
}

.icon-s {
    align-items: center;
    color: #242424;
}

.icon-s:hover {
    cursor: pointer;
    color: grey;
    transition: all 0.2s ease; 
}

.icon--big {
    font-size: 3.2rem;
    margin: 1rem;
}

li {
    list-style: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #242424;
    
}

a:hover {
    color: #daa520;
    cursor: pointer;
}

h2 {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
}

p {
    font-weight: 300;
    font-size: 1.8rem;
}

.accent {
    color: #daa520;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
};

