.category__container {

    width: 100%;
    height: 28rem;
    background-color: $dash-main;
    border-radius: .5rem;
    box-shadow: $dash-box-shadow;
    // margin-bottom: 2rem;

    &-header {
        height: 3.5rem;
        background-color: $dash-third;
        border-radius: .5rem .5rem 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & h2 {
            font-size: 2rem;
            text-transform: capitalize;
            margin-left: 2rem;
        }
    }

    &-inputs {
        height: calc(100% - 4rem);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        form {
            width: 100%;
        }

        &-buttons {
            display: flex;
        }

        label {
            font-size: 1.6rem;
        }

        input[type=text] {
            width: 100%;
            height: 3.6rem;
            padding: 0 1rem;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
    }
}

.addCard-hide {
    display: none;
}

.updateCard {
    display: none;
}

.updateCard-show {
    display: block;
}


// {
//     dataUpdate ?

//       dataUpdate.map((item, idx) => {
//         return (
//           <form onSubmit={handleUpdate} key={idx} className='updateCard'>

//             <label htmlFor="">Novo Ime Kategorije Srpski</label>
//             <input type="text" placeholder={item.kat_naziv_sr} name="kat_sr" value={katSrUpdate} onChange={(e) => setKatSrUpdate(e.target.value)} />

//             <label htmlFor="">Novo Ime Kategorije Engleski</label>
//             <input type="text" placeholder={item.kat_naziv_en} name="kat_en" value={katEnUpdate} onChange={(e) => setKatEnUpdate(e.target.value)} />

//             <div className="category__container-inputs-content-buttons">
//               <button className='btn__dash-regular dash-button-info  mt-2' onClick={() => setKatIdUpdate(item.kat_id)}>Izmeni Kategoriju</button>
//             </div>

//           </form>
//         )
//       })

//       :

//       <form onSubmit={handleSubmit} className='addCard'>
//         <label htmlFor="">Ime Kategorije Srpski</label>
//         <input type="text" placeholder='Ime kategorije na Srpskom' name="kategorija_sr" value={dataK.kategorija_sr} onChange={handleChange} />

//         <label htmlFor="">Ime Kategorije Engleski</label>
//         <input type="text" placeholder='Ime kategorije na Engleskom' name="kategorija_en" value={dataK.kategorija_en} onChange={handleChange} />

//         <div className="category__container-inputs-content-buttons">
//           <button className='btn__dash-regular dash-button-success  mt-2 mr-1'>Dodaj Kategoriju</button>
//         </div>
//       </form>

//   }