.message__txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: gray;
    height: 100%;
    margin-left: .4rem;
}

.message__txt h3 {
    font-size: 1.4rem;
}

.message__txt p {
    font-size: 1.5rem;
}

/* Activna klasa */
.messageActive {
    transform: translateY(13.8rem);
    transition: var(--transition);
}


@media (max-width: 480px) {
    .message__txt{
        align-items: center;
    }
}